<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a routerLink=""><img ngSrc="./assets/img/logo.png" alt="" height="82" width="120"></a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li><a><i class="fa fa-heart"></i> <span>{{ favorites }}</span></a></li>
      <li><a routerLink="/home/checkout"><i class="fa fa-shopping-bag"></i><span>{{ itemsShopingCart }}</span></a></li>
    </ul>
    <div class="header__cart__price">items: <span>{{ totalPrice.toString() | currency }}</span></div>
  </div>
  @if (userModel == null) {
    <div class="humberger__menu__widget">
      <div class="header__top__right__auth">
        <a routerLink="/login"><i class="fa fa-user"></i>Login</a>
      </div>
    </div>
  } @else {
    <div class="header__top__right__auth">
      <div class="header__top__right__language">
        <div><i class="fa fa-user"></i></div>
        <div>{{ userModel.fullName }}</div>
        <span class="arrow_carrot-down"></span>
        <ul>
          <li><a>Opciones</a></li>
          <li><a (click)="logOut()">Salir</a></li>
        </ul>
      </div>
    </div>
  }
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active"><a routerLink="/home/store">Inicio</a></li>
      <li><a routerLink="shop">Shop</a></li>
      @if (userModel?.role == 'ADMIN') {
        <li><a>Administrar</a>
          <ul class="header__menu__dropdown">
            <li><a>Inventario</a></li>
            <li><a>Facturas</a></li>
            <li><a>Blog</a></li>
          </ul>
        </li>
      }
      <li><a>Blog</a></li>
      <li><a>Contacto</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a><i class="fa fa-facebook"></i></a>
    <a><i class="fa fa-twitter"></i></a>
    <a><i class="fa fa-linkedin"></i></a>
    <a><i class="fa fa-pinterest-p"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> atencion&#64;mercarfrut.com</li>
      <li>Entrega Gratis Por compras superiores a $100.000</li>
    </ul>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> atencion&#64;mercarfrut.com</li>
              <li>Entrega Gratis Por compras superiores a $100.000</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-twitter"></i></a>
              <a><i class="fa fa-linkedin"></i></a>
              <a><i class="fa fa-pinterest-p"></i></a>
            </div>
            @if (userModel == null) {
              <div class="header__top__right__auth">
                <a routerLink="/login"><i class="fa fa-user"></i> Login</a>
              </div>
            } @else {
              <div class="header__top__right__auth">
                <div class="header__top__right__language">
                  <div><i class="fa fa-user"></i></div>
                  <div>{{ userModel.fullName }}</div>
                  <span class="arrow_carrot-down"></span>
                  <ul>
                    <li><a>Opciones</a></li>
                    <li><a (click)="logOut()">Salir</a></li>
                  </ul>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a routerLink=""><img ngSrc="./assets/img/logo.png" alt="" height="82" width="120"></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a routerLink="/home/store">Inicio</a></li>
            <li><a routerLink="shop">Tienda</a></li>
            @if (userModel?.role == 'ADMIN') {
              <li><a>Administrar</a>
                <ul class="header__menu__dropdown">
                  <li><a>Inventario</a></li>
                  <li><a>Pagos</a></li>
                  <li><a>Blog</a></li>
                </ul>
              </li>
            }
            <li><a>Blog</a></li>
            <li><a>Contacto</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a><i class="fa fa-heart"></i> <span>{{ favorites }}</span></a></li>
            <li><a routerLink="/home/checkout"><i class="fa fa-shopping-bag"></i>
              <span>{{ itemsShopingCart }}</span></a></li>
          </ul>
          <div class="header__cart__price">item: <span>{{ totalPrice.toString() | currency }}</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->
