<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img ngSrc="./assets/img/logo.png" alt="" height="82" width="120"></a>
                    </div>
                    <ul>
                        <li>Dirección: Carrera 13 # 93-35</li>
                        <li>Celular: +57 3102845699</li>
                        <li>Email: atencion&#64;mercarfrut.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Enlaces de interes</h6>
                    <ul>
                        <li><a href="">Sobre Nosotros</a></li>
                        <li><a href="">Sobre Nuestra Tienda</a></li>
                        <li><a href="">Compra Segura</a></li>
                        <li><a href="">Informacion de entrefa</a></li>
                        <li><a href="">Politica de privacidad</a></li>
                        <li><a href="">Mapa del sitio</a></li>
                    </ul>
                    <ul>
                        <li><a href="">¿quienes Somos?</a></li>
                        <li><a href="">Nuestros Servicios</a></li>
                        <li><a href="">proyectos</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Inovacion</a></li>
                        <li><a href="">Testimonios</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Unase a nuestro boletin ahora</h6>
                    <p>Reciba actualizaciones por correo electrónico sobre nuestra última tienda y ofertas especiales.</p>
                    <form action="">
                        <input type="text" placeholder="Ingrese su correo">
                        <button type="submit" class="site-btn">Suscribase</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img ngSrc="./assets/img/payment-item.png" alt=""
                                                                 height="23" width="286"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
