<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="dropdown hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Todos Los Departamentos</span>
          </div>
          <ul>
            <li><a>Carnicos</a></li>
            <li><a>Vegetales</a></li>
            <li><a>Frutas</a></li>
            <li><a>Comida de mar</a></li>
            <li><a>Mantequilla y Huevos</a></li>
            <li><a>Comidas Rapidas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                Todas Las Categorias
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="¿Que Necesitas?">
              <button type="submit" class="site-btn">Buscar</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+57 3102845699</h5>
              <span>Soporte 24/7</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="assets/img/hero/banner.jpg">
          <div class="hero__text">
            <span>Frutas Frescas</span>
            <h2>Vegetales <br/>100% Organico</h2>
            <p>Entregas gratuitas a partir de $100.000</p>
            <a routerLink="/home/shop" class="primary-btn">Comprar Ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel">
        <div class="col-lg-3">
          <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-1.jpg">
            <h5><a>Frutas</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-2.jpg">
            <h5><a>Frutas Deshidratadas</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-3.jpg">
            <h5><a>Vegetales</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-4.jpg">
            <h5><a>Jugos En Caja</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-5.jpg">
            <h5><a>Carnes</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->
<br>
<!-- Banner Begin -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img ngSrc="assets/img/banner/banner-1.jpg" alt="" height="270" width="570">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img ngSrc="assets/img/banner/banner-2.jpg" alt="" height="270" width="570">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

<!-- Blog Section Begin -->
<section class="from-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title from-blog__title">
          <h2>Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img ngSrc="assets/img/blog/blog-1.jpg" alt="" height="266" width="370">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> Mayo 4,2024</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a>Consejos para cocinar de forma sencilla</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img ngSrc="assets/img/blog/blog-2.jpg" alt="" height="266" width="370">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2024</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a>6 formas de preparar el desayuno para 30</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img ngSrc="assets/img/blog/blog-3.jpg" alt="" height="266" width="370">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2024</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a>Visite la granja limpia de Colombia</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->
